<div class="row">
  <div class="col-12">
    <h3>1. A bar chart about countries</h3>
    <p>
      <a class="btn btn-warning" id="Asia">Asia</a>
      <a class="btn btn-warning" id="Africa">Africa</a>
      <a class="btn btn-warning" id = "NAmerica">North America</a>
      <a class="btn btn-warning" id ="GDP">Low GDP countries</a>
      <a class="btn btn-warning" id="Continent">Color by continent</a>
      <a class="btn btn-warning" id="Reset">Reset</a>
    <div id="bar-chart"></div>
  </div>
</div>