<div class="row">
  <div class="col-12">
    <h3>2. A line chart about stock prices</h3>
  </div>
  <div class="col-9">

    <!-- the div should go here -->
  <div id="line-chart"></div>
  </div>
  <div class="col-3 mt-4">
  </div>
</div>
